*, *:before, *:after {
	box-sizing: border-box;
}

body {
	font-family: 'Fira Sans', sans-serif;
	font-size: 16px;
	color: #111238;
	margin: 0;
}

img {
	max-width: 100%;
}

.header {
	background: #F2F3F6;
}

.menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu-item:not(:last-child) {
	margin-right: 20px;
}

.menu-link {
	font-size: 16px;
	line-height: 19px;
	color: #111238;
	text-decoration: none;
	transition: .3s;
}

.menu-link:hover {
	color: #1A75E8;
}

.button {
	display: inline-block;
	border: none;
	cursor: pointer;
	text-decoration: none;
	font-size: 16px;
	line-height: 19px;
}

.button-link {
	font-weight: normal;
	color: #111238;
	padding: 15px 30px;
}

.button-primary {
	background-color: #1A75E8;
	color: #FFFFFF;
	padding: 15px 30px;
	border-radius: 5px;
}

.button-icon {
	vertical-align: middle;
}

.button-text {
	vertical-align: middle;
	margin-left: 10px;
}

.hero-title {
	font-weight: 900;
	font-size: 44px;
	line-height: 53px;
	color: #111238;
	margin-top: 43px;
	margin-bottom: 15px;
}

.hero-text {
	font-size: 18px;
	line-height: 140%;
	color: #111238 margin-bottom: 30px;
}

.input-group {
	background: #FFFFFF;
	border: 1px solid rgba(209, 209, 209, 0.1);
	box-shadow: 0px 4px 25px rgba(15, 17, 56, 0.1);
	border-radius: 5px;
	margin-bottom: 25px;
	padding: 10px;
}

.input {
	background-color: #fff;
	border: none;
	flex-grow: 1;
	font-size: 16px;
	line-height: 19px;
	padding-left: 15px;
}

.input:focus {
	outline: 1px dotted #ccc;
}

.tags-group {
	padding-left: 15px;
	font-size: 14px;
	line-height: 17px;
	color: #B2B2B2;
}

.tags-label {
	color: #B2B2B2;
}

.tag {
	border: 1px solid #B2B2B2;
	border-radius: 5px;
	color: #B2B2B2;
	text-decoration: none;
	padding: 5px 10px;
	margin-left: 10px;
}

.section {
	padding-top: 70px;
	padding-bottom: 80px;
}

.section-title {
	margin-bottom: 40px;
	margin-top: 0;
}

.card {
	text-decoration: none;
	color: #111238;
	background: #F2F3F6;
	border-radius: 10px;
	padding: 35px;
	transition: .3s;
}

.card-icon {
	fill: #111238;
	margin-bottom: 15px;
	transition: .3s;
}

.card:hover {
	background-color: #1A75E8;
	color: #fff;
}

.card:hover .card-icon {
	fill: #fff;
}

.card-text {
	transition: .3s;
}

.offer {
	border: 1px solid #C5C9D4;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 20px;
	padding: 30px;
}

.offer-image {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 1px solid #F2F3F6;
	object-fit: contain;
}

.offer-title {
	margin-left: 20px;
}

.offer-heading {
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	color: #111238;
	margin-top: 0;
	margin-bottom: 10px;
}

.offer-place {
	font-size: 14px;
	line-height: 17px;
	color: #111238;
	opacity: 0.8;
}

.offer-salary {
	background-color: #1A75E8;
	border-radius: 5px;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	margin-right: 62px;
	margin-left: 46px;
	padding: 10px 25px;
}

.more {
	font-size: 14px;
	line-height: 17px;
	color: #1A75E8;
	text-decoration: none;
	margin-right: 25px;
	margin-left: auto;
}

.subscribe {
	background-color: #F2F3F6;
}

.subscribe-form {
	max-width: 460px;
	margin: auto;
	text-align: center;
}

.subscribe-title {
	font-weight: 900;
	font-size: 36px;
	line-height: 43px;
	color: #111238;
	margin-bottom: 20px;
}

.subscribe-subtitle {
	font-weight: 400;
	font-size: 18px;
	line-height: 140%;
	color: #111238;
	margin-bottom: 40px;
}

.envelope-icon {
	fill: #fff;
	width: 15px;
	height: 14px;
	vertical-align: middle;
	margin-right: 10px;
}

.footer {
	padding-top: 70px;
	padding-bottom: 100px;
}

.footer-description {
	font-size: 12px;
	line-height: 140%;
	color: #B2B2B2;
	width: 166px;
	margin-bottom: 10px;
}

.footer-copyright {
	font-size: 12px;
	line-height: 140%;
	color: #B2B2B2;
}

.footer-title {
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	color: #111238;
	margin-top: 0;
	margin-bottom: 15px;
}

.footer-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer-list-item {
	margin-bottom: 10px;
}

.footer-list-link {
	text-decoration: none;
	font-size: 16px;
	line-height: 19px;
	color: #111238;
	transition: .3s;
}

.footer-list-link:hover {
	color: #1a75e8;
}